.nav_bar {
    display:flex;
    justify-content: space-between;
    width : 90%;
    margin : auto;
}

.nav_bar_el {
    font-size: xx-large;
    /*color: rgb(214, 223, 231);
    background-color: rgb(149, 137, 0);
    */
    color: rgb(0, 0, 0);
    background-color: #F4841D;
    border-radius: 5px;
    height: 40px;
    margin: 30px;
    padding: 5px 15px 5px 15px;
}

.nav_bar_els {
    display: flex;
}