.forms {
  margin-left: 15%;
  width: max-content;
  padding : 30px;
  height: max-content;
 
  
  border-radius: 25px;
}
.forms h1 {
  background-color: #F4841D;
  padding: 10px 20px;
  border-radius: 3px;
  border-color: #F4841D;
  width:max-content;
}
.forms label,
.forms input{
  background-color: #F4841D;
  padding: 6px;
  border-radius: 3px;
  border-color: #F4841D;
}
.forms_els{
  width:max-content;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding : 20px;
  margin : auto;
}
.th {
  text-align: right;
  padding : 10px;
}
.td {
  text-align: left;
padding: 10px;
}
.donnees{
  padding: 5px;
  border-radius: 3px;
}
#valider_btn{
  margin : auto ;
  padding: 5px 10px;
  font-size: x-large;
  border-radius: 7px;
  background: #F4841D;
  border-color: #F4841D;
}
.btn_div{
  margin: auto;
  width : min-content;  
}
.form_div th{
  border-left: 2px solid #F4841D;
}