body {
        background-color: #95BDB6;
      }

    h1{
        color: white;
        text-align: center;
    }

    h2{
        color: black;
        text-align: center;
    }

    .Cadre1{
        border: 5px dotted white;
        background-color: #95BDB6;
        text-align: center;
    }
