.caroussel {
  width: 800px;
  height: 200px;
  background-color: #D65A14;
  border-radius: 30px;
  margin : auto;
}
.caroussel-c{
  width: 700px;
  margin:auto;
  position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.caroussel-els {
  width: 600px;
  display: flex;
  justify-content: space-between;
  }

.caroussel-el {
  width: 150px;
  height: 150px;
  background-color: black;
}
.caroussel-next {
  width:100px;
}